<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <img src="http://127.0.0.1:5500/documents/img/chungnamdoMap.jpg" />
  <br>
  <br>
<button class="미애씨css찾아서 넣기" type="button">
  #힐링
</button>
<button class="미애씨css찾아서 넣기" type="button">
  #가족
</button>
<button class="미애씨css찾아서 넣기" type="button">
  #커플
</button>
<button class="미애씨css찾아서 넣기" type="button">
  #해수욕장
</button>
<button class="미애씨css찾아서 넣기" type="button">
  #등산
</button>

</body>
</html>